$orange: hsl(26, 100%, 55%);
$paleorange: hsl(25, 100%, 94%);
$lighGrayishBlue: hsl(223, 64%, 98%);

.sidebar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;

  .sidebar-menu {
    background-color: #fff;
    width: 500px;
    padding: 10px 10px;

    .close-icon {
      padding: 10px 10px 30px;
      cursor: pointer;
    }

    .sidebar-menu-item {
      list-style: none;
      width: 100%;

      &:hover {
        border-radius: 10px;
        // background-image: linear-gradient(to right, #cb2d3e 0%, #ef473a 51%, #cb2d3e 100%);
        background-color: #e8e8e8;
        transition: background .15s ease-out;
        background-size: 200% auto;
      }

      a {
        text-decoration: none;
        display: block;
        color: #333;
        font-weight: 700;
        padding: 10px 10px;

        &:hover {
          // color: #fff;
        }
      }
    }
  }

  .backdrop {
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.75);
  }
}

header {
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar-toggle {
      cursor: pointer;

      img {
        margin-top: 3px;
      }
    }

    .logo {
      margin: 10px 20px;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .avatar {
      width: 25px;
      height: 25px;

      &:hover {
        border-radius: 50%;
        cursor: pointer;
        outline: 1px solid $orange;
      }
    }
  }
}