$orange: hsl(26, 100%, 55%);
$paleorange: hsl(25, 100%, 94%);
$lighGrayishBlue: hsl(223, 64%, 98%);

.backdrop {
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 0%, .35);
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 1s;
  backdrop-filter: blur(2px);
}

.sidebar {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  left: -100%;
  transition: .5s;

  &.active {
    left: 0;
    transition: .35s;
  }

  .sidebar-menu {
    background-color: #fff;
    padding: 10px 10px;
    list-style: none;

    .close-icon {
      padding: 10px 10px 30px;
      cursor: pointer;
    }

    .sidebar-menu-item {
      list-style: none;
      width: 200px;

      &:hover {
        border-radius: 10px;
        background-color: #e8e8e8;
        transition: background .15s ease-out;
        background-size: 200% auto;
      }

      a {
        text-decoration: none;
        display: block;
        color: #333;
        font-weight: 700;
        padding: 10px 10px;
      }
    }
  }
}

header {
  background-color: #fff;
  padding: 10px 20px 10px 15px;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar-toggle {
      padding: 5px;
      cursor: pointer;

      img {
        margin-top: 3px;
      }
    }

    .logo {
      margin: 10px 15px;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .icon-cart-quantity {
      background-color: #ff7d1a;
      color: #fff;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 9px;
      font-weight: 700;
      position: relative;
      right: -43px;
      top: -8px;
      cursor: pointer;
    }

    .cart-icon {
      cursor: pointer;
    }

    .avatar {
      width: 25px;
      height: 25px;

      &:hover {
        border-radius: 50%;
        cursor: pointer;
        outline: 1px solid $orange;
      }
    }
  }
}